.main {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 3;
}

button {
  font-family: "nanumgothic", sans-serif;
  font-weight: 600;
}

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 620px;
  border-radius: 20px;
  text-align: center;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  box-shadow: 0.8rem 0.5rem 1.4rem gray, -0.3rem -0.4rem 0.8rem gray;
}

#detail-category-img {
  position: relative;
  width: 800px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#detail-image-box {
  position: relative;
}

#detail-category {
  position: absolute;
  top: 160px;
  right: 50px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 10px;
  background-color: #0f4a7e;
  color: white;
  text-align: center;
}

#detail-info-box {
  display: flex;
  flex-direction: row;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 10px;
}

#detail-title-box {
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 30px;
  font-size: 2.5rem;
  text-align: left;
}

.detail-content-key {
  margin-right: 10px;
  color: #0f4a7e;
  font-weight: bold;
}

#detail-createdBy,
#detail-location,
#detail-date,
#detail-time,
#detail-number {
  margin-bottom: 10px;
}

#detail-description{
  line-height: 1.5;

}
#detail-content-box {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 400px;
  height: 250px;
  text-align: left;
}

#detail-content {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 1rem;
}

#apply-button {
  padding: 20px;
  padding-left: 320px;
  padding-right: 320px;
  border: none;
  border-radius: 10px;
  box-shadow: 0.8rem 0.5rem 1.4rem #bec5d0, -0.3rem -0.4rem 0.8rem #fbfbfb;
  background-color: #0f4a7e;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}

#apply-button:active {
  color: lightgray;
  box-shadow: inset -0.3rem -0.1rem 1.4rem #0f4a7e,
    inset 0.3rem 0.4rem 0.8rem #082743;
  cursor: pointer;
}

#apply-people-box {
  padding-top: 10px;
  padding-right: 20px;
  width: 460px;
  text-align: right;
}

#apply-people-title {
  margin-bottom: 20px;
  padding-right: 10px;
  font-size: 1.3rem;
  color: #0f4a7e;
}

#apply-people-list {
  display: grid;
  grid-template-columns: 150px 150px;
  justify-content: right;
}

#apply-people-card {
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  color: #07233b;
  background-color: lightgray;
  text-align: center;
}