body {
    margin: 0px;
}

#main {
  display: flex;
}

#detail-appbar {
  width: 100px;
}

#create-button {
  width: 50px;
}

#create-button-box {
  margin: 30px;
}

#card-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 50px;
}