/* 전체 파란 배경 */
.background {
  width: 100%;
  height: 95%;
  position: absolute;
  top: none;
  left: none;
  z-index: 1;
}

/* Header - Background */
.headerImg {
  height: 39%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

/* Header - Logo */
.headerLogo {
  position: absolute;
  top: 12px;
  left: 20px;
  z-index: 4;
}

.headerLogo:hover {
  cursor: pointer;
}

.headerLogo img {
  width: 30px;
  padding-top: 8px;
  padding-left: 9px;
}

.headerLogoText {
  padding: 19px 0 0 75px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.headerLogo button {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: none;
  color: #fff;

  z-index: 3;
}

/* 로그인 버튼 */
.headerLogin {
  width: 90px;
  height: 35px;
  border-radius: 10px;
  border: none;

  color: #0f4a7e;

  position: absolute;
  top: 35px;
  right: 45px;
  z-index: 3;
}

.headerLogin:hover {
  cursor: pointer;
}

/*만들기 버튼 화살표*/
.flowbite--arrow-up-outline {
  display: inline-block;
  width: 45px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: rotate(90deg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%230e497d' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M12 6v13m0-13l4 4m-4-4l-4 4'/%3E%3C/svg%3E");
}

.SearchGroup{
  width: 220px;
  height: 65px;
  border-radius: 13px;
  font-size: 23px;
  border: none;
  background-color: white;
  color: #0f4a7e;
  top: 500px;
  left: 300px;
  position: absolute;
  z-index: 4;
}
.MakeGroup{
  width: 220px;
  height: 65px;
  font-size: 23px;
  border-radius: 13px;
  border: none;
  background-color: white;
  color: #0f4a7e;
  top: 500px;
  left: 540px;
  position: absolute;
  z-index: 4;
}

.SearchGroup:hover{
  cursor: pointer;
}
.MakeGroup:hover{
  cursor: pointer;
}
.Introduce h1{
  color: white;
  z-index: 4;
}

.Introduce p {
  color: #929292;
  z-index: 4;
}